.dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
#blue {
    background-color: blue;
  }
#red {
    background-color: red;
  }
  #green {
    background-color:green;
  }
  #yellow {
    background-color:yellow;
  }
